.buttons{
    padding: 8px;
    border: none;
    border-radius: 5px;

}

.buttons__primary{
    background-color: black;
    color: white;
}

.buttons__secondary{
    background-color: gray;
    color: white;
}